.footer{
    width: 100%;
    background-color: black;
  
    &-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-box-logo{
        display: flex;
        gap: 10px;

    }
    &-title{
        width: 10%;
                font-size: 24px;
                color: white;
                font-weight: 600;
    }
    &-box-link{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-button1{
        background-color: inherit;
        color: white;
        border: none;
    }
    &-box-location{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-location{
        background-color: inherit;
        color: white;
        border: none;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    &-box-btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-btn-logo{
        color: white;
    }
    &-btn-btn1{
        padding: 15px;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
        border-radius: 6px;
    }
    &-btn-btn2{
        padding: 15px;
        background-color: orange;
        color: black;
        border: none;
        cursor: pointer;
        border-radius: 6px;
    }
    &-botom{
        width: 100%;
        border-top: 2px solid white;
    .ps{
       color: white;
    }
    .footer-battin{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .battin-title{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .footer-p{
        color: white;
    }
    .footer-box{
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
}
}
@media(min-width:768px){
    .footer{
        &-box{
            flex-direction: row;
            justify-content: space-between;
        }
        &-box-logo{
            width: 180px;
            height: 65px;
            gap: 10px;
        

        }
    }
}